HELP.md
target/
mvn/wrapper/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
commons/.mvn/*
commons/*.cmd
product-ms/.mvn/*
product-ms/*.cmd
*.cmd
mvnw

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

